.contact-div {
    color: '#000';
    background: linear-gradient(105deg,#33ccc5,#088dc3);
    font-size: 15px;
}

.jura-font{
    font-family: Jura,sans-serif;
}

@media screen and (max-width: 786px) {
    .map-container {
        margin: 0px 0px;
        display: none;
    }
}

.contact-form-div label {
    color: black;
}
