.teams-body{
    z-index:1;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.team-container{
    /* background: #03161f; */
    /* background: #013447; */
    background: #111517;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 10px 20px;
    padding: 20px 5px 40px;
    width: 23%;
    height: 360px;
    border-radius: 2%;
    border: 1px solid;
}

.team-container .image{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
}

.team-container .image::before{
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #1785eb;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.2;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.team-container:hover .image::before{
    height: 100%;
}

.team-container .image::after{

    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #1785eb;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.team-container .image img{
    width: 100%;
    height: auto;
    /* height: 100%; */
    border-radius: 50%;
    transform: scale(1.1);
    border: 1px solid;
    transition: all 0.9s ease 0s;
}

.team-container:hover .image img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);

}

.team-container .info{
    margin-bottom: 30px;
}

.team-container .info h3{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 30px;
}

.team-container .info p{
    display: block;
    font-size: 15px;
    color: #4e5052;
}

.team-container .social{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #1785eb;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;

}


.team-container:hover .social{
    bottom: 0;
}

.team-container .linkedin svg{
    font-size: 40px;
    color: aliceblue;
}

.team-container:hover .linkedin svg{
    transition: all 1s ease-in-out;
    color: #1785eb;
}

@media (max-width: 720px){

        .team-container{
            width: 80%;
            /* margin-top: 30px; */
        }

        .team-container .image img{
            padding-top: 0;
        }
}