.team-body {
    min-height: 100vh;
    /* background-color: #000; */
    /* background-color: #001c25; */
    background-color: #002030;
    padding: 10vh 6vw;
    color: #00aaff;
    font-weight: 500;
    font-size: 3.2vh;
    /* width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-template-rows: repeat(auto-fit, 480px); */
}

.team-body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 80%; */
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (max-width: 720px){
    .team-body{
        flex-direction: column;
    }
}