.contact-body {

    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    --main-bg-color: #a9e7da;
    --secondary-color: #A9E7DA;
    --high-color: #00aaff;
    /* background-color: #000; */
    /* padding: 10vh 6vw; */
    background-color: #000;
    font-size: 2.5vh;
    padding: 10vh 6vw 1vh 6vw;
    color: #fff;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;


    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:solid 2px var(--high-color); */
}

.contact-card {
    position: relative;
    background-color: #fff;
    height: 60%;
    width: 80%;
    /* margin:2vw; */
    border-radius: 6px;
    color: #000;
    transition: 1s;
    font-size: 80%;

}

#contact-head {

    font-size: .8em;
    font-weight: 900;
    margin: 1em
}

.contact-form {
    position: relative;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}


.txt-field {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #080808;
}

.txt-field input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    min-height: 5vh;
}

.txt-field label {
    position: absolute;
    left: 1%;
    pointer-events: none;
    transition: .5s;

    top: -15px;
}

.txt-field input:focus~label {

    color: var(--high-color);
}

.txt-field span::before {
    content: '';
    position: absolute;
    background-color: var(--high-color);
    width: 0%;
    height: 2px;
    left: 0;
    top: 100%;
    transition: .5s;
}

.txt-field input:focus~span::before {
    width: 100%;
}

.txt-field+.txt-field {
    /* border:solid 2px var(--high-color); */
    margin-top: 2em;
}

.contact-form button {
    position: relative;
    outline: none;
    padding: .4em;
    width: 40%;
    height: 12%;
    margin-top: 2%;
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: 10px 0 0 10px;
    /* border : 2px solid var(--high-color); */
    right: calc(-60% - 10px);
}

.cta svg {
    display: none;
}


/* map */

.map-box {
    display: none;

}

.contact-us {

    font-family: 'Anton', sans-serif;
    font-weight: bolder;
    bottom: 0;
    color: #fff;
    font-size: 5vw;
    height: 6%;
    margin-bottom: 2px;
    /* border : 2px solid var(--high-color); */
    z-index: 999;
    width:80%;
    /* text-align: center; */

}

.contact-footer {
    display: none;
    /* border : 2px solid var(--high-color); */
    /* position: relative;
    bottom:1%;
    padding:0 4%;
    width:80%;
    display: flex;
    flex-direction: column; */
}



.bottom-info {
    display: flex;
    justify-content: space-between;
}

.bottom-info-card div {
    display: none;
}

.bottom-info-card {
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.social {
    display: none;
}

.container-svg {
    /* border : 2px solid var(--secondary-color); */
    height: 30%;
}



/*mediaqueries */

@media screen and (max-width: 310px) {
    .cta svg {
        display: none;
    }
}

/* @media screen and (min-width : 720px)  */
@media screen and (orientation: landscape) {

    .container-svg {
        display: none;
    }

    .contact-body {
        position: relative;
        /* border : 2px solid var(--secondary-color); */
        padding: 0;
    }


    .map-box {
        display: block;
        position: relative;
        top: 15%;
        height: 55%;
        /* border : 2px solid var(--high-color); */
        border-radius: 0;
        width: 100%;
        margin: 0;
        left: 0;
    }

    .contact-us {
        position: absolute;
        width: auto;
        height: auto;
        bottom: 40%;
        left: 10%;
        color: #fff;
        font-size: 4vh;
        z-index: 1000;
        text-align: center;
    }

    .contact-card {
        position: absolute;
        right: 0;
        height: 70%;
        /* width: 25%; */
        width: 30vw;
        margin: 2em;
        z-index: 2;
        right: 2%;
        top: 5%;
        /* border : 2px solid var(--high-color); */
    }


    .contact-form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90%;
        width: 100%;
        /* margin: 5%; */
        padding: 15% 0 10% 0;
        /* right: 0; */

        justify-content: space-between;
    }

    .txt-field {
        /* border : 2px solid var(--high-color); */
        margin: 0;
        width: 80%;

    }

    .contact-form button {
        /* border : 2px solid var(--high-color); */
        position: relative;
        bottom: 0;
        right: -30%;
        /* height: 10%; */
        width: 40%;
    }




    .contact-footer {
        display: block;
        position: relative;
        bottom: 0;
        padding: 3%;
        height: 30%;
        /* margin:2px; */
        top: 15%;
        width: 100%;
        /* border : 2px solid var(--high-color); */
    }

    .bottom-info {
        position: absolute;
        /* border : 2px solid var(--high-color); */
        /* margin-top: 27%; */
        bottom: 0;
        width: 50%;
        height: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* font-size: 2vw; */
    }

    /* .line{
        height: 80%;
        background-color:var(--high-color);
        border : 1px solid var(--high-color);
        border-radius: 10px;
        margin: 0 1vw;
    } */
    .bottom-info-card {

        display: flex;
        flex-direction: column;
        height: 80%;
        /* align-items: center; */
        margin-left: 10%;
        /* border : 1px solid var(--high-color); */
        /* justify-content: flex-start; */
        align-items: flex-start;
        font-size: .65em;
    }

    .bottom-info-card i {
        margin-right: 3%;
        /* text-align: center; */
        /* font-size: 4vh; */
    }

    .bottom-info-head {
        /* border : 1px solid var(--high-color); */
        margin-bottom: 2em;
        width: 100%;
    }

    .bottom-info-card div {
        display: block;
        color: #fff;
        /* font-size: 1vw; */
    }

    .social {
        font-size: 2.3vh;
        display: block;
        position: absolute;
        right: 10%;
        width: 30%;
        bottom: 25%;
        /* border : 1px solid var(--high-color); */
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30%;
        color: #fff;
        transition: 5s;
    }

    .social div {

        /* font-size: 1vh; */
        display: flex;
        /* border : 1px solid var(--high-color); */
        height: 100%;
        width: 70%;
        justify-content: space-evenly;
        align-items: center;
    }



    .social div i {
        display: inline-block;
        width: 40%;
        height: 70%;
        background: #222;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        text-decoration: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .social div i:hover {
        background: #0069cc;
    }

    /* .social div i {
        border : .01rem solid #fff;
        position: relative;
        padding: 5%;
        border-radius: 4px; 
        width: 20%;
        margin: 1%;
        text-align: center;
        
        line-height: 100%;
        font-size: 1em;
        cursor: pointer;

        display: inline-block;
        width: 40px;
        height: 40px;
        background: #222;
        transition: .5s ease-in-out;
    }
*/

    /* .social div i:hover {  
        box-shadow: 0 0 15px var(--high-color);
        text-shadow: 0 0 25px var(--high-color); 
        color:#000 ; 
        background-color: #00aaff;
    } */

}

/*  */
@media screen and (min-width:638px) and (max-width:854px) and (orientation: landscape) {

    .contact-card {
        width: 45%;
    }
}



@media screen and (min-width:1200px) {
    .contact-body {
        font-size: 18px;
    }

    .contact-card {
        width: 25%;
    }

    /* button effect */

    .cta {
        border: none;
        background: none;
    }

    .cta span {
        padding-bottom: .3em;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    .cta svg {
        display: inline-block;
        transform: translateX(-8px);
        transition: all 0.3s ease;
    }

    .cta:hover svg {
        transform: translateX(0);
    }

    .cta:active svg {
        transform: scale(0.9);
    }

    .hover-underline-animation {
        position: relative;
        color: #fff;
        padding-bottom: 2em;
    }

    .hover-underline-animation:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: .15em;
        bottom: 0;
        left: 0;
        background-color: #fff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    /* effect end */

    /* shadow */
    /* .contact-card:hover{
    box-shadow:
    2px 2.4px 3px -17px var(--high-color),
    16px 19px 24px -17px var(--high-color)
  ;
  transform: scale(1.08);

}*/



}