/* Upcoming Events Style  */
#features {
    padding-top: 40px;
}

.features .features-content {
    z-index: 2;
    position: relative;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.features-item {
    text-align: center;
    padding: 30px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    background: linear-gradient(105deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 100%);
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
}

.features-item:hover {
    background: rgb(51, 204, 197);
    background: linear-gradient(105deg,
            rgba(51, 204, 197, 1) 0%,
            rgba(8, 141, 195, 1) 100%);
}

.features-item:hover h4 {
    color: #fff;
}

.features-item:hover p {
    color: #fff;
}

.features-item:hover .line-dec {
    background-color: rgba(255, 255, 255, 0.3);
}

.features-item .number h6 {
    background-repeat: no-repeat;
    width: 110px;
    height: 69px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 69px;
    margin-top: -65px;
    margin-bottom: 30px;
}

.features-item .first-number h6 {
    background-image: url("../../../assets/features-number-01.png");
}

.features-item .second-number h6 {
    background-image: url("../../../assets/features-number-02.png");
}

.features-item .third-number h6 {
    background-image: url("../../../assets/features-number-03.png");
}

.features-item .fourth-number h6 {
    background-image: url("../../../assets/features-number-04.png");
}

.features-item .icon {
    width: 63px;
    height: 63px;
    margin: 0 auto;
    transition: all 0.5s;
}

.features-item h4 {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #2a2a2a;
    position: relative;
    transition: all 0.5s;
}

.features-item .line-dec {
    width: 100px;
    height: 2px;
    background-color: rgba(51, 204, 197, 0.3);
    margin: 30px auto;
    transition: all 0.5s;
}

.features-item p {
    position: relative;
    margin-top: 0px;
    transition: all 0.5s;
}

.upcoming-event {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
}

.skills-content {
    position: relative;
    z-index: 1;
    margin-top: -50px;
    background-color: #f5f5f5;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 110px 0px 50px 0px;
}

.skill-item {
    text-align: center;
}

.progress {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #ddd;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #fd6a54;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress .progress-value {
    text-align: center;
    color: #2a2a2a;
    display: flex;
    width: 100%;
    border-radius: 50%;
    font-size: 32px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 700;
}

.progress .progress-value div {
    margin-top: 10px;
}

.progress .progress-value span {
    font-size: 12px;
    text-transform: uppercase;
}

/* This for loop creates the  necessary css animation names 
  Due to the split circle of progress-left and progress right, we must use the animations on each side. 
  */
.progress[data-percentage="10"] .progress-right .progress-bar {
    animation: loading-1 1.5s linear forwards;
}

.progress[data-percentage="10"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
    animation: loading-2 1.5s linear forwards;
}

.progress[data-percentage="20"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
    animation: loading-3 1.5s linear forwards;
}

.progress[data-percentage="30"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
    animation: loading-4 1.5s linear forwards;
}

.progress[data-percentage="40"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="50"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="60"] .progress-left .progress-bar {
    animation: loading-1 1.5s linear forwards 1.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="70"] .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="80"] .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="90"] .progress-left .progress-bar {
    animation: loading-4 1.5s linear forwards 1.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="100"] .progress-left .progress-bar {
    animation: loading-5 1.5s linear forwards 1.5s;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(36);
        transform: rotate(36deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(72);
        transform: rotate(72deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(108);
        transform: rotate(108deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(144);
        transform: rotate(144deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180);
        transform: rotate(180deg);
    }
}

.progress {
    margin-bottom: 1em;
}

/* Past Events Style */
.our-events {
    padding-top: 40px;
}

.our-events .section-heading {
    text-align: center;
    margin: 0px 40px;
}

.our-events .container-fluid {
    padding: 20px 20px;
}

.event-item {
    height: 80%;
    padding: 60px 30px;
    border: 1px solid grey;
    border-radius: 5px;
    transition: all 0.3s;
    margin-bottom: 40px;
}

.event-item:hover {
    background-color: #fff;
    border: 2px solid transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.event-item .icon {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    background-color: #f7f7f7;
    border-radius: 50%;
}

.event-item .icon img {
    width: 38px;
    height: 38px;
}

.event-item h4 {
    font-size: 22px;
    font-weight: 700;
    color: #2a2a2a;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .our-events {
        padding-top: 20%;
    }

    .event-item {
        padding: 20px;
    }

    .upcoming-event {
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        margin-top: 20%;
    }
}